.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 8%;
  padding-top: 16px;
  background: rgb(255, 255, 255);
  box-shadow: 0 18px 32px -4px rgba(136, 136, 136, 0.25);
  border-radius: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.prof-title {
  font-family: Helvetica;
  font-size: 16px;
  color: #272738;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: bold;
}

.compagny-name {
  margin-left: 12px;
  font-family: Helvetica;
  font-size: 16px;
  color: #272738;
  line-height: 24px;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 8px;
}

.card-avatar {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.card-rating {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 6px 20px -4px rgba(136, 136, 136, 0.25);
  border-radius: 10px;
  height: 40px;
  width: 40px;
  
}

.card-rating span {
font-family: 'Helvetica';
font-size: 16px;
color: #272738;
text-align: center;
line-height: 24px;
}

.salary {
  font-family: 'Helvetica';
  font-size: 14px;
  color: #272738;
  line-height: 24px;
}

.card-rating span {
  margin: auto;
}

.location {
  margin-top: 20px;
  font-family: Helvetica;
  font-size: 12px;
  color: #828294;
  line-height: 20px;
}

.avatar-circle {
  background: #ffffff;
  box-shadow: 0 6px 20px -4px rgba(136, 136, 136, 0.25);
  border-radius: 24px;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
}
.avatar-img {
  width: 26px;
  height: 26px;
  margin: auto;
}
