.card {
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 padding: 8%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.card-avatar {
  
}

.card-rating {
  
}

.location {
  margin-top: 20px;
}