.profile-card {
  padding-right: 16px;
  padding-left: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 16px;
  background: rgb(255, 255, 255);
  box-shadow: 0 18px 32px -4px rgba(136, 136, 136, 0.25);
  border-radius: 10px;

}

.profile-card .icon-bookmark {
  margin: 0;
}

.profile-card .card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.labels {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica';
  font-size: 14px;
  color: #828294;
  line-height: 24px;
  margin-left: 40px;
}

.values{
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  font-family: 'Helvetica';
  font-size: 14px;
  color: #272738;
  line-height: 24px;
}

.profile-information {
  display: flex;
}

.status {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.status span {
  background: rgb(154, 83, 255);
  border: 1px solid rgb(154, 83, 255);
  border-radius: 12px;
  font-family: Helvetica;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 20px;
  padding: 1px 8px;
}