.salary-card {
  background: #FFFFFF;
  box-shadow: 0 18px 32px -4px rgba(136,136,136,0.25);
  border-radius: 10px;
  padding: 16px 0 16px 16px;
}

.information {
  font-family: Helvetica;
  font-size: 12px;
  color: #828294;
  line-height: 20px;
}