.container {
  background: #E6E6EB;
  border: 1px solid #E6E6EB;
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  row-gap: 24px;
  padding-top: 24px;
}

.cards-jobday {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.cards-jobapplication {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.cards-topsalaries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 24px;
}

.cards-profiles {
  display: grid;
  height: 200px;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
}

.cards-jobday .card-single {
  flex-basis: 32%;
}

