.container {
  background: #E6E6EB;
  border: 1px solid #E6E6EB;
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  row-gap: 24px;
}

.cards-jobday {
  display: inline-flex;
  height: 200px;
  justify-content: space-between; 
}

.cards-jobapplication {
  display: flex;
  height: 200px;
  background: #FFFFFF;
  box-shadow: 0 18px 32px -4px rgba(136,136,136,0.25);
  border-radius: 10px;
}

.cards-topsalaries {
  display: flex;
  height: 200px;
  background: #FFFFFF;
  box-shadow: 0 18px 32px -4px rgba(136,136,136,0.25);
  border-radius: 10px;
}

.cards-profiles {
  display: flex;
  height: 200px;
  background: #FFFFFF;
  box-shadow: 0 18px 32px -4px rgba(136,136,136,0.25);
  border-radius: 10px;
}

.card-single {
  flex-basis: 32%;
  background: #FFFFFF;
  box-shadow: 0 18px 32px -4px rgba(136,136,136,0.25);
  border-radius: 10px;
}